.dropbox {
	@include transition(opacity);

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.2);
}

.modal {
	@include transition(transform);
	@extend %centeringBox;

	position: fixed;
	width: 450px;
	height: 609px;
	padding: 40px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background-color: getColor("bg-primary");

	&__close-btn {
		position: absolute;
		right: 8px;
		top: 8px;
		width: 30px;
		height: 30px;

		border-radius: 50%;
		cursor: pointer;
		border: 1px solid getColor("decoration");
		background-color: getColor("bg-primary");
	}

	&__icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 11px;
		height: 11px;

		.modal__close-btn:focus &,
		.modal__close-btn:hover & {
			fill: getColor("accent");
		}
	}
}

.is-hidden .modal {
	transform: translate(-50%, 100%);
}
